@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

.topnav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 8px 16px 0px rgba(67, 54, 143, 0.712);
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* .active {
    background-color: #4CAF50;
    color: white;
} */

.topnav .icon {
    display: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff00;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(67, 54, 143, 0.712);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: rgba(51, 38, 122, 0.555);
    color: rgb(255, 255, 255);
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.616);
    color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 900px) {
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #08090A;
}

#universe {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

#galaxy {
    position: fixed;
    width: 100%;
    height: 100%;
}

#solar-system {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.pos {
    position: absolute;
    top: 50%;
    width: 2em;
    height: 2em;
    margin-top: -1em;
    margin-left: -1em;
    transform-style: preserve-3d;
    animation-name: invert;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#sun,
.planet,
#earth .moon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    border-radius: 50%;
    transform-style: preserve-3d;
}

#sun {
    /* background-color: #FB7209; */
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 0 0 60px rgba(255, 160, 60, 0.4); */
}

.planet {
    background-color: #202020;
    background-repeat: no-repeat;
    background-size: cover;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
}

#saturn .ring {
    width: 2em;
    height: 2em;
    margin-top: -1em;
    margin-left: -1em;
    border: 0.3em solid rgba(160, 147, 130, 0.7);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#saturn .ring:after {
    border-radius: 100%;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 2.2em;
    height: 2.2em;
    margin-top: -1.1em;
    margin-left: -1.1em;
    border: 0.07em solid rgba(160, 147, 130, 0.5);
    box-sizing: border-box;
    box-sizing: border-box;
}


/* --------------------------------------------------------------------------- planets index */

#mercury {
    z-index: 10;
}

#venus {
    z-index: 9;
}

#earth {
    z-index: 8;
}

#moon {
    z-index: 7;
}

#mars {
    z-index: 6;
}

#jupiter {
    z-index: 5;
}

#saturn {
    z-index: 4;
}

#uranus {
    z-index: 3;
}

#neptune {
    z-index: 2;
}

#sun {
    z-index: 1;
}


/* --------------------------------------------------------------------------- animations */

@keyframes invert {
    0% {
        transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    }
}


/* --------------------------------------------------------------------------- opening */

#universe.opening #sun {
    box-shadow: 0 0 0 rgba(255, 160, 60, 0);
}


/* --------------------------------------------------------------------------- 3D view */

.view-3D.zoom-large #sun {
    transform-style: preserve-3d;
}

.view-3D.zoom-large .orbit {
    transform-style: preserve-3d;
}

.view-3D #solar-system {
    transform: rotateX(75deg);
}

.view-3D #sun {
    transform: rotateX(-90deg);
}

.view-3D .ring {
    transform: rotateX(90deg);
}

.view-3D .planet,
.view-3D .moon {
    transform: rotateX(0deg);
}


/* --------------------------------------------------------------------------- large zoom */

.zoom-large #solar-system {
    width: 100%;
}

.zoom-large.view-3D .scale-stretched #solar-system {
    font-size: 62%;
}

.zoom-large.view-3D .scale-d #solar-system {
    font-size: 48%;
}

.zoom-large.view-3D .scale-s #solar-system {
    font-size: 14%;
}


/* --------------------------------------------------------------------------- close zoom */

.zoom-close #solar-system {
    width: 200%;
    font-size: 100%;
}

.zoom-close .scale-stretched #solar-system {
    margin-left: -100%;
}

.zoom-close .scale-d #solar-system {
    margin-left: -106%;
}


/* 
.zoom-close.view-2D .scale-d #solar-system {
    font-size: 84%;
} */

.zoom-close.view-3D .scale-d #solar-system {
    font-size: 84%;
}

.zoom-close .scale-s #solar-system {
    margin-left: -145%;
}


/* 
.zoom-close.view-2D .scale-s #solar-system {
    font-size: 40%;
} */

.zoom-close.view-3D .scale-s #solar-system {
    font-size: 40%;
}


/* 
.zoom-close.view-2D .planet, .zoom-close.view-2D .moon {
    transform: rotateX(0deg);
} */

.zoom-close.view-3D .planet {
    transform: rotateX(-90deg);
}

.zoom-close.view-3D .moon {
    transform: rotateX(90deg);
}

.zoom-close .pos {
    left: 100%!important;
    top: 50%!important;
}


/* --------------------------------------------------------------------------- DEBUG 
*/


/* 
.pos, .planet, .orbit, .ring {
    animation-duration: 20s!important;
} */


/* --------------------------------------------------------------------------- navigation styles */

dl.infos {
    position: absolute;
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin-top: -90%;
    margin-left: 90%;
    padding-left: 100%;
    transform-origin: 100% 100%;
    transform-style: preserve-3d;
    transform: rotateX(90deg);
}

dl.infos:before {
    position: absolute;
    content: '';
    width: 0px;
    height: 100px;
    left: -1px;
    bottom: 0;
    border-top: 1px solid white;
    border-left: 1px solid white;
    transform-style: preserve-3d;
    transform: skew(-0deg, 0deg);
    box-shadow: inset 1px 1px black;
}

dl.infos dt {
    position: absolute;
    left: -80px;
    margin-bottom: 130px;
    bottom: 30px;
    color: #FFF;
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
}

dl.infos dd:after {
    position: absolute;
    left: -80px;
    bottom: 130px;
    width: 300px;
    color: #FFF;
    font-size: 22px;
    text-shadow: 1px 1px 2px black;
}

dl.infos dd span:after {
    position: absolute;
    left: -80px;
    bottom: 114px;
    width: 300px;
    color: #FFF;
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
}

.sun #sun .infos,
.mercury #mercury .infos,
.venus #venus .infos,
.earth #earth .infos,
.mars #mars .infos,
.jupiter #jupiter .infos,
.saturn #saturn .infos,
.uranus #uranus .infos,
.neptune #neptune .infos {
    display: block;
    opacity: 1;
    transform: rotateX(0deg);
}

.hide-UI h1,
.hide-UI .hide-UI dl.infos,
.hide-UI #controls {
    opacity: 0!important;
    margin-top: -30px;
}

h1 {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

h1 span,
#navbar h1 a {
    display: inline;
    position: relative;
    padding: 0;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

#navbar {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    width: 100%;
    height: 48px;
}

#navbar a {
    position: absolute;
    top: 0;
    height: 48px;
    padding: 16px;
    font-size: 14px;
}

#toggle-data {
    left: 30;
}

#controls {
    z-index: 99;
    position: fixed;
    opacity: 1;
    top: 4px;
    padding: 1px;
}

.view-3D #controls label.set-view:before {
    content: '2D';
    margin-left: 82px;
}

.view-2D #controls label.set-view:before {
    content: '3D';
    margin-left: 7px;
}

.view-3D #controls .set-view input:after {
    margin-left: 3px;
}

.view-2D #controls .set-view input:after {
    margin-left: 81px;
}

#controls label.set-zoom:before {
    font: normal small-caps 18px/14px sans-serif;
}

.zoom-large #controls label.set-zoom:before {
    content: '+';
    margin-left: 82px;
}

.zoom-close #controls label.set-zoom:before {
    content: '-';
    margin-left: 7px;
}

.zoom-large #controls .set-zoom input:after {
    margin-left: 3px;
}

.zoom-close #controls .set-zoom input:after {
    margin-left: 81px;
}


/* --------------------------------------------------------------------------- transitions */

.pos {
    transition-property: top, left;
}

#solar-system,
.orbit,
.planet,
.satelite,
.ring {
    transition-property: width, height, top, left, margin-left, margin-top, webkit-transform;
}

#sun,
.icon {
    transition-property: width, height, webkit-transform;
}

#solar-system,
#sun,
.orbit,
.pos,
.planet,
.satelite,
.ring,
.infos,
.icon {
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
}

#solar-system,
#sun,
.planet,
.satelite,
.ring {
    transition-delay: 0s;
}

.pos {
    transition-delay: 1s;
}

.opening #solar-system,
.opening #sun,
.opening .orbit,
.opening .pos,
.opening .planet,
.opening .satelite,
.opening .ring,
.opening .infos,
.opening h1,
.opening dl.infos,
.opening #controls {
    transition-duration: 0s;
    transition-delay: 0s;
}

.opening .pos {
    transition-delay: 0s;
}

h1 {
    transition-delay: .35s;
}


/* --------------------------------------------------------------------------- responsive styles */

@media screen and (max-width: 299px) {
    #universe {
        font-size: 20%;
    }
}

@media screen and (min-width: 300px) {
    #universe {
        font-size: 24%;
    }
}

@media screen and (min-width: 500px) {
    #universe {
        font-size: 36%;
    }
}

@media screen and (min-width: 600px) {
    #universe {
        font-size: 44%;
    }
}

@media screen and (min-width: 760px) {
    #universe {
        font-size: 58%;
    }
}

@media screen and (min-width: 1000px) {
    #universe {
        font-size: 73%;
    }
    #navbar a {
        display: none;
    }
    h1 {
        font-size: 22px;
        margin-top: 8px;
    }
    #controls {
        padding-right: 32px;
        top: 12px;
    }
    .controls-open #controls,
    .controls-close #controls {
        right: 0px;
    }
}

@media screen and (min-width: 1300px) {
    #universe {
        font-size: 100%;
    }
}

@media screen and (min-width: 1600px) {
    .zoom-close .scale-d #solar-system {
        margin-left: -120%;
    }
}